{% extends 'mail/base.html.twig' %}

{% block subject %}Reset your password{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

We have received a request to reset the password for this account — don't panic, it's simple to do.<br/><br/>

To get you back up and running, please click on <a href="{{ absolute_url('/reset-password/%s'|format(token)) }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">this link</a> to create a new password.<br/><br/>

If you didn't make a request to reset your password then please <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a> straight away.<br/><br/>

We look forward to seeing you soon for a coaching or mentoring session.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
