<br>

<p>
    <b>Invoice To</b><br>
    {{ charge.source.name }}<br>
    {{ payment.user.email }}
</p>
{% if charge.source.address_zip and charge.source.address_country %}
    <p>
        <b>Billing Address</b><br>
        {% if charge.source.address_line1 %}
            {{ charge.source.address_line1 }}<br>
        {% endif %}
        {% if charge.source.address_line2 %}
            {{ charge.source.address_line2 }}<br>
        {% endif %}
        {% if charge.source.address_city %}
            {{ charge.source.address_city }}<br>
        {% endif %}
        {{ charge.source.address_zip }}<br>
        {{ charge.source.address_country }}
    </p>
{% endif %}

<div><h1 align="center">Order Details</h1></div>

<table cellpadding="2" width="100%">
<tr>
    <th width="40%"><b>Item</b></th>
    <th width="20%" align="right"><b>VAT %</b></th>
    <th width="20%" align="right"><b>VAT</b></th>
    <th width="20%" align="right"><b>Total</b></th>
</tr>
{% for item in payment.items %}
    <tr>
        <td width="40%">{{ item.name }}</td>
        <td width="20%" align="right">{{ item.vat }}</td>
        <td width="20%" align="right">{{ (item.amount * item.vat / 100)|currency(payment.currency) }}</td>
        <td width="20%" align="right">{{ item.amount|currency(payment.currency) }}</td>
    </tr>
{% endfor %}
<tr><td colspan="4"><br></td></tr>
<tr>
    <td width="40%"><b>Total</b></td>
    <td width="20%"></td>
    <td width="20%"></td>
    <td width="20%" align="right"><b>{{ payment.amount|currency(payment.currency) }}</b></td>
</tr>
</table>

<br><hr>

<p align="center">
    <small>{{ company_name }}, {{ company_address }}</small>
</p>
