{% extends 'mail/base.html.twig' %}

{% block subject %}Sorry – your credits have now expired{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

We wrote to you a month ago to advise you that your credits were about to expire. Unfortunately, as you have not used them, they have now expired and been removed from your {{ brand_name }} account.<br/><br/>

To book more credits, either speak to your admin team or please log back in to your account and purchase them directly.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
