{% extends 'mail/base.html.twig' %}

{% block subject %}Sorry – some of your {{ brand_name }} credits have now expired{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

We wrote to you a month ago to advise you that some of your credits allocated to your users were about to expire. Unfortunately, as they have not been used, they have now expired and been removed from their owners {{ brand_name }} account.<br/><br/>

If you need to purchase more credits please log into your account and allocate accordingly.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
