{% extends 'mail/base.html.twig' %}

{% block subject %}Congratulations! You're nearly ready to take your first session{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Thanks for registering for {{ brand_name }} and becoming one of our coaching team. Your account has now been activated and you are only a few small steps away from starting your {{ brand_name }} career.<br/><br/>

Now that your account is activated you can:<br/><br/>

1. review and update your profile,<br/>

2. add in your latest testimonial to showcase your capabilities,<br/>

3. enter your availability in your calendar and<br/>

4. coach your first client.<br/><br/>

You'll probably want to get started straight away by clicking here:

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- CTA button : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td align="left" class="mobile-padding">
      <table align="left" border="0" cellpadding="0" cellspacing="0" class="button-width" role="presentation" style="margin:auto; width:279px;">
        <tbody>
          <tr>
            <td class="button-td" style="border-radius: 5px; background: {{ primary_color }}; text-align:center;">
              <a class="button-a" href="{{ absolute_url('/login') }}" style="background-color: {{ primary_color }}; border: 1px solid {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: normal; text-align: center; letter-spacing: 0.5px; text-decoration: none; display:block; border-radius: 5px; padding: 10px 0px;"><span style="color: #fff; text-decoration: none;">LOG IN</span></a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- CTA buton : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

Generally, our coaches find the whole process quite straightforward, but if you do have any questions or if you encounter any problems at all then please <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a>.<br/><br/>

Welcome aboard, we are looking forward to working with you and receiving your feedback.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
