{% extends 'mail/base.html.twig' %}

{% block subject %}Account verification{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Thank you for registering for {{ brand_name }}.<br/><br/>

Please follow <a href="{{ absolute_url('/verify/%s'|format(token)) }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">this link</a> to confirm your email address and activate your account.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
