{% extends 'mail/base.html.twig' %}

{% block subject %}New credits have been added to your account{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

We're excited to let you know that we have added {{ credit }} credit(s) to your organisation's {{ brand_name }} account.<br/><br/>

You will now be able to log onto your account and allocate them to your users, monitoring usage and activity as they are taken. You can also see your dashboard.<br/><br/>

There's a set of FAQs if you have any questions, or if you can't find what you need there then please do <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a>.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
