{% extends 'mail/base.html.twig' %}

{% block subject %}We've suspended your {{ brand_name }} account{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

We're writing to let you know that your {{ brand_name }} account has been suspended.<br/><br/>

If you think this is incorrect, please <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a> immediately and we will investigate further.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
