{% extends 'mail/base.html.twig' %}

{% block subject %}Just so you know, some of your credits expire soon{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

<b>We thought you'd like to know that you have credits that will expire within 1 month.</b><br/><br/>

If they aren't used by their expiry date, your users will miss out on the opportunity for support.<br/><br/>

Please review your account and check if you need to reallocate to different users to ensure they are used before their expiry date. If you'd like our tips and support on encouraging people to use their sessions, or if you have any questions, then please <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a>.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
