{% extends 'mail/base.html.twig' %}

{% block subject %}Your session and next steps{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

We hope you enjoyed your {{ expertise_name }} {{ brand_name }} session today and we look forward to welcoming you again soon.<br/><br/>

If you're keen to follow up on any of the themes covered today, you can book your next session via our desktop, tablet or mobile based service. And, if there's anything else that you'd like to talk about, then why not take a moment to see whether our expert coaches and mentors can support with your challenge – you can browse them via the {{ brand_name }} booking system:

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- CTA button : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td align="left" class="mobile-padding">
      <table align="left" border="0" cellpadding="0" cellspacing="0" class="button-width" role="presentation" style="margin:auto; width:279px;">
        <tbody>
          <tr>
            <td class="button-td" style="border-radius: 5px; background: {{ primary_color }}; text-align:center;">
              <a class="button-a" href="{{ absolute_url('/login') }}" style="background-color: {{ primary_color }}; border: 1px solid {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: normal; text-align: center; letter-spacing: 0.5px; text-decoration: none; display:block; border-radius: 5px; padding: 10px 0px;"><span style="color: #fff; text-decoration: none;">LOG IN</span></a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- CTA buton : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

We look forward to hearing from you soon,<br/>

{{ team_name }}
{% endblock %}
