{% extends 'mail/base.html.twig' %}

{% block subject %}Session completed{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Thank you for running your {{ brand_name }} session today. Please do check back on the website or app for your session feedback and complete your own end of session form. And, if you have any feedback for the Thrive Partners team, do share your views here: <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a>.<br/><br/>

Thanks for helping us to democratise coaching!<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
