{% extends 'mail/base.html.twig' %}

{% block subject %}New coach on board{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

We're excited to let you know that {{ coach_first_name }} {{ coach_last_name }} wants to join to {{ brand_name }} coaching system. Please go to the admin system, check their details and validate their account.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- CTA button : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td align="left" class="mobile-padding">
      <table align="left" border="0" cellpadding="0" cellspacing="0" class="button-width" role="presentation" style="margin:auto; width:279px;">
        <tbody>
          <tr>
            <td class="button-td" style="border-radius: 5px; background: {{ primary_color }}; text-align:center;">
              <a class="button-a" href="{{ absolute_url('/login') }}" style="background-color: {{ primary_color }}; border: 1px solid {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: normal; text-align: center; letter-spacing: 0.5px; text-decoration: none; display:block; border-radius: 5px; padding: 10px 0px;"><span style="color: #fff; text-decoration: none;">LOG IN</span></a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- CTA buton : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
