{% extends 'mail/base.html.twig' %}

{% block subject %}You're nearly ready to access our coaching and mentoring network{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Thank you for registering for {{ brand_name }}.<br/><br/>

You are now very close to being able to use our on-demand coaching and mentoring service – just follow <a href="{{ absolute_url('/verify/%s'|format(token)) }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">this link</a> to confirm your email address and activate your account.<br/><br/>

{% if is_enterprise_admin %}
    Once your account is set up you can start to enter your users and allocate your available credits and you can watch how the sessions are being drawn down.<br/><br/>

    You can also book a coaching session to experience {{ brand_name }} for yourself. We're sure you will agree with our other users on how great the coaching and the platform is, and would welcome your feedback.<br/><br/>

    We offer incentives every month for users to upload a landscape video taken on their phone of their experience. So if you or any of the team would like to do this, hopefully you will be one of the people who gets some free sessions. We of course will share with you so you can share them internally as part of the engagement programme. Simply send this to <a href="mailto:{{ support_email }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">{{ support_email }}</a> and we will let you know if you are one of the lucky winners<br/><br/>

    Welcome aboard,<br/>
{% else %}
    Once you're activated, you can browse our pool of coaches and have a look around the system. When you have either purchased credits for yourself or been allocated credits by your organisation, you will be able to book a session by selecting a coach or mentor by availability or expertise. Look out for an email from us confirming how many credits you have available to use. Our coaches get amazing feedback, as does our app. We know once you've taken your first session, you'll never look back.<br/><br/>

    We look forward to seeing you soon.<br/><br/>

    {{ letter_closing }},<br/>
{% endif %}

{{ team_name }}
{% endblock %}
