{% extends 'mail/base.html.twig' %}

{% block subject %}Thanks for taking the time to register{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Thank you for registering to be a {{ brand_name }} coach.<br/><br/>

Your application has been sent through to our team for approval and they will in touch shortly.<br/><br/>

If you haven't been to one of our onboarding events already, they will:<br/><br/>

<ul style="padding: 0; margin: 0 0 0 35px;">
  <li style="margin: 0 0 15px 0;">Answer your questions and explain the {{ brand_name }} story in more detail.</li>
  <li style="margin: 0 0 23px 0;">Help you get set up on our Training platform, practice our coaching methods and check your tech so you can get really familiar with everything you need to do before you go live.</li>
</ul>

If you have any questions in the meantime, please feel free to <a href="{{ contact_us_link }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Contact Us</a>.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
