{% extends 'mail/base.html.twig' %}

{% block subject %}Client rescheduling{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Your upcoming {{ brand_name }} session has been rescheduled.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- SESSION table : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td bgcolor="{{ primary_color_light }}">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Date:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ started_at }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Session:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ expertise_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Client: <br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ client_first_name }} {{ client_last_name }}, {{ client_position }}, {{ client_company_name }}</b><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- SESSION table : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

<a href="{{ ics_url }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: underline; white-space: nowrap;">Add to Calendar (iCal)</a> <span class="hidden-mobile">|</span> <a href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ brand_name }}%20Session&dates={{ started_at|date('Ymd\\THis')|url_encode }}Z%2F{{ ended_at|date('Ymd\\THis')|url_encode }}Z&details={{ expertise_name|url_encode }}%20with%20{{ client_first_name|url_encode }}%20{{ client_last_name|url_encode }}&location=Online" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: underline; white-space: nowrap;">Add to Google calendar</a><br/><br/>

Ahead of the call, please ensure that you:<br/><br/>

<ul style="padding: 0; margin: 0 0 0 35px;">
  <li style="margin: 0 0 15px 0;">Read through the client information ahead of the session.</li>
  <li style="margin: 0 0 15px 0;">Find a spot that's well connected and quiet.</li>
  <li style="margin: 0 0 23px 0;">Log into your account in good time to start.</li>
</ul>

Please note, your session will be available to join 15 minutes before your session start time.<br/><br/>

We hope you have a great session.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
