{% extends 'mail/base.html.twig' %}

{% block subject %}Your client is waiting for you{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Your client is online waiting for you to have your {{ brand_name }} session - we hope everything is ok!<br/><br/>

If you have any difficulties joining the session, please contact us via <a href="mailto:{{ support_email }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">{{ support_email }}</a> or {{ support_contact_phone }} immediately.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
