{% extends 'mail/base.html.twig' %}

{% block subject %}Coach session cancellation{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

I'm afraid the following {{ brand_name }} session couldn't go ahead.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- SESSION table : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td bgcolor="{{ primary_color_light }}">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Date:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ started_at }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Client: <br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ client_first_name }} {{ client_last_name }}, {{ client_position }}, {{ client_company_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Coach: <br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ coach_first_name }} {{ coach_last_name }}</b><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- SESSION table : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

Unfortunately the coach did not attend the above session. <b>We need to investigate this immediately and go back to the client's support team with our findings.</b> We will of course return the credit for the session onto their account.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
