{% extends 'mail/base.html.twig' %}

{% block subject %}Coach session cancellation{% endblock %}

{% block body %}
Hello Administrator,<br/><br/>

Unfortunately, the following {{ brand_name }} session with one of your team has been cancelled.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- SESSION table : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td bgcolor="{{ primary_color_light }}">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Date:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ started_at }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Session:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ expertise_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Client:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ client_first_name }} {{ client_last_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Coach: <br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ coach_first_name }} {{ coach_last_name }}</b><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- SESSION table : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

We appreciate it isn't an ideal situation and our coaches go out of their way to avoid it. On behalf of our coach, please accept our apologies for any inconvenience this cancellation might cause.<br/><br/>

You will not be charged any credits for this session as the cancellation was outside of your control. We have asked your employee to rebook either with the same coach or with another that matches their requirements.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
