{% extends 'mail/base.html.twig' %}

{% block subject %}Sorry you've cancelled your session{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Your {{ brand_name }} session has been cancelled.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- SESSION table : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td bgcolor="{{ primary_color_light }}">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Date:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ started_at }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Session:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ expertise_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Coach: <br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ coach_first_name }} {{ coach_last_name }}</b><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- SESSION table : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

{% if date(started_at) <= date('+48 hours')  %}
  As this session was due to take place in the next 48 hours, the credits for this session will still be deducted from your account.<br/><br/>
{% else %}
  As this session is more than 48 hours away you will not be charged for this session.<br/><br/>
{% endif %}

We're sorry to see you miss the opportunity to work with us on this occasion, so please don't delay and book a replacement session now:

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- CTA button : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td align="left" class="mobile-padding">
      <table align="left" border="0" cellpadding="0" cellspacing="0" class="button-width" role="presentation" style="margin:auto; width:279px;">
        <tbody>
          <tr>
            <td class="button-td" style="border-radius: 5px; background: {{ primary_color }}; text-align:center;">
              <a class="button-a" href="{{ absolute_url('/') }}" style="background-color: {{ primary_color }}; border: 1px solid {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: normal; text-align: center; letter-spacing: 0.5px; text-decoration: none; display:block; border-radius: 5px; padding: 10px 0px;"><span style="color: #fff; text-decoration: none;">BOOK A NEW SESSION</span></a></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<!-- CTA buton : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

We look forward to seeing you soon.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
