{% extends 'mail/base.html.twig' %}

{% block subject %}Just to confirm, you're all booked in{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

Your {{ brand_name }} session is now confirmed, please <a href="{{ location }}" target="_blank">click here</a> to join your session, up to 15 minutes before it is scheduled.

<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->
<!-- SESSION table : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td bgcolor="{{ primary_color_light }}">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Date:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ started_at }} ({{ current_timezone }})</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Session:<br/><br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ expertise_name }}</b><br/><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" width="30">&nbsp;</td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="80">Coach: <br/></td>
          <td align="left" valign="top" style="font-size: 15px; color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; line-height: 22px;" width="*"><b>{{ coach_first_name }} {{ coach_last_name }}</b><br/></td>
          <td align="left" valign="top" width="30">&nbsp;</td>
        </tr>
        <tr>
          <td height="30" width="30">&nbsp;</td>
          <td height="30" width="80">&nbsp;</td>
          <td height="30" width="*">&nbsp;</td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- SESSION table : END -->
<!-- Spacer : BEGIN -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
  <tr>
    <td height="25" style="font-size:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
<!-- Spacer : END -->

To get the most out of your session, we suggest you:<br/><br/>

<ul style="padding: 0; margin: 0 0 0 35px;">
  <li style="margin: 0 0 15px 0;">Think about what space will work best for the conversation.</li>
  <li style="margin: 0 0 15px 0;">Download our tablet and mobile app by searching {{ brand_name }} in the Android or iOS app store, in case you're on the move for the call.</li>
  <li style="margin: 0 0 23px 0;"><a href="{{ absolute_url('/login') }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">Log into your {{ brand_name }} account</a> a few minutes early, if possible, so you get the most out of your time with your coach.</li>
</ul>

As well as the session, you can make notes on the platform and come back to them later. Make sure you note what you covered and book in dates for future sessions once you have signed in. You can see the names of the coaches you have worked with before in case you want to rebook them or find other coaches you selected as a 'favourite' for future sessions.<br/><br/>

Please note, your session will be available to join 15 minutes before your session start time.<br/><br/>

Have a great session, speak soon.<br/>

{{ team_name }}
{% endblock %}
