<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="x-apple-disable-message-reformatting">
  <title>{{ block('subject') }}</title>
  <!--[if gte mso 9]><xml>
   <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
   </o:OfficeDocumentSettings>
  </xml><![endif]-->
  
  <!-- CSS Reset -->
  <style type="text/css">
    /* What it does: Remove spaces around the email design added by some email clients. */
    /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
    html,
    body {
      margin: 0 auto !important;
      padding: 0 !important;
      height: 100% !important;
      width: 100% !important;
    }

    /* What it does: Stops email clients resizing small text. */
    * {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* What is does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
      margin: 0 !important;
    }

    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table,
    td {
      mso-table-lspace: 0pt !important;
      mso-table-rspace: 0pt !important;
    }

    /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
    table {
      border-spacing: 0 !important;
      border-collapse: collapse !important;
      table-layout: fixed !important;
      margin: 0 auto !important;
    }
    table table table {
      table-layout: auto;
    }

    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
      -ms-interpolation-mode: bicubic;
    }


    /* What it does: A work-around for email clients meddling in triggered links. */
    *[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
      border-bottom: 0 !important;
      cursor: default !important;
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
    .a6S {
      display: none !important;
      opacity: 0.01 !important;
    }
    /* If the above doesn't work, add a .g-img class to any image in question. */
    img.g-img + div {
      display: none !important;
    }

    /* What it does: Prevents underlining the button text in Windows 10 */
    .button-link {
      text-decoration: none !important;
    }

    /* What it does: Stops GMAIL breaking on mobile */
    .gmailfix {
      display: none;
      display: none!important;
    }

    /* What it does: reduces font-size for superscript text; */
    sup {
      font-size: 70%;
    }

    .im { 
      color: #000001 !important; 
    }

    .blueLink a {
      color: {{ primary_color }} !important;
      text-decoration: none !important;
    }

    /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
    /* Create one of these media queries for each additional viewport size you'd like to fix */
    /* Thanks to Eric Lepetit (@ericlepetitsf) for help troubleshooting */
    @media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
      .email-container {
        min-width: 375px !important;
      }
    }

    @media screen and (max-width: 480px) {
      /* What it does: Forces Gmail app to display email full width */
      u ~ div .email-container {
        min-width: 100vw;
      }
    }

    @media screen {
      font-family: Arial, sans-serif;
    }
  </style>

  <!-- Progressive Enhancements -->
  <style type="text/css">
    .hidden-desktop-row,
    .hidden-desktop,
    .hidden-input {
      display: none;
    }
      
    /* Media Queries */
    @media screen and (max-width: 600px) {
      .email-container {
        width: 100% !important;
        min-width: 300px !important;
        margin: auto !important;
      }
      .background-container {
        background: none !important;
      }

      /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
      .fluid {
        max-width: 100% !important;
        height: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      /* What it does: Forces table cells into full-width rows. */
      .stack-column,
      .stack-column-center {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        direction: ltr !important;
      }

      /* And center justify these ones. */
      .stack-column-center {
        text-align: center !important;
      }
      .stack-column-center.padding {
        padding: 0 0 7px !important;
      }
      .stack-column-center.padding td {
        text-align: center !important;
      }
      .stack-column-center.switch {
        direction: rtl !important;
      }
      .to18size {
        font-size: 18px !important;
      }
      .header-group {
        display: table-header-group !important;
      }
      .footer-group {
        display: table-footer-group !important;
      }

      /* What it does: Makes button full width on mobile */
      .button-width {
        width: 100% !important;
      }
      .hidden-desktop-row {
        display: table-row !important;
      }
      .hidden-desktop {
        display: table !important;
      }
      .hidden-mobile {
        display: none !important;
      }
      .mobile-padding {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
      .mobile-padding.terms {
        padding-top: 19px !important;
        padding-bottom: 19px !important;
      }
      .center {
        float: none !important;
      }
      .top-nav {
        height: 50px !important;
      }
      .copy-pod {
        padding: 0px 30px 20px 30px !important;
      }
      .copy-pod.moments {
        padding: 26px 30px 30px !important;
        font-size: 16px !important;
      }
      .copy-pod.itin {
        padding: 30px 30px !important;
      }
      .copy-pod.title-only {
        padding: 20px 30px 10px !important;
      }
      .copy-pod .copy {
        padding: 0 !important;
      }
      .title-copy {
        padding: 15px 30px !important;
      }
      .menu-padding {
        padding: 10px 0 !important;
      }
      .image-replacement {
        display: block;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: 50% 0;
        padding-top: 54.9333%;
        width: 100%;
        height: 0;
      }
      .image-replacement img {
        display: none !important;
      }
      .centerise-margin {
        width: 50%;
      }
      .smallen-icon {
        width: 50px;
        height: 50px;
      }
      .to-column {
        display: inline-block !important;
      }

      /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
      .center-on-narrow {
        text-align: center !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
      }
      table.center-on-narrow {
        display: inline-block !important;
      }

      /* Navigation Animation */
      #menucontainer {
        position: relative;
        overflow: hidden;
      }
      #menucontainer>table {
        margin-top: -200px !important;
        -ms-transition: margin-top .5s ease-in-out;
        -webkit-transition: margin-top .5s ease-in-out;
      }

      /* checkbox mechanism */
      #navcheckbox:checked+table {
        margin-top: 0% !important;
      }
      
      /* new footer social icons */
      .social-icons-body {
        width: 280px;
      }
      .gmailfix {
        white-space: pre !important;
        font-size: 1px !important;
      }
      .button-a {
        font-size: 16px !important;
      }
      .pod3-title {
        font-size: 22px !important;
      }
      .pod3-copy {
        font-size: 16px !important;
      }
      .hero-title {
        font-size: 22px !important;
      }
      .cas-logo-mob {
        padding-left: 20px !important;
      }
      .suitcase-mob {
        padding-left: 32px !important;
        padding-right: 19px !important;
      }
      .look-forward-copy {
        padding: 10px 15px !important;
      }
      .body-copy {
        font-size: 16px !important;
      }
      .header-big {
        font-size: 36px !important;
      }
      .header-medium {
        font-size: 28px !important;
      }
      .header-small {
        font-size: 18px !important;
        font-weight: bold !important;
      }
      .icons_x3-body {
        width: 280px;
      }
      .icons_x3-text {
        font-size: 12px !important;
      }
    }
  </style>
  <!--[if gte mso 9]>
    <style>
      li {
        text-indent: -1em; /* Normalise space between bullets and text */
      }
    </style>
  <![endif]-->
  <!--[if gte mso 12]>
    <style type="text/css">
      .button-td {
        padding: 4px;
      }
    </style>
  <![endif]-->
  <!--[if gte mso 16]>
    <style type="text/css">
      .stack-column-center.menu td {
        font-weight: normal !important;
      }
    </style>
  <![endif]-->
</head>
<body style="margin:0; padding:0; mso-line-height-rule:exactly;">
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; width:100%;">
    <tr>
      <td align="center">
        <center style="background:#fff">
          <!-- Header Panel : BEGIN -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin:auto;" width="100%">
            <tr bgcolor="{{ primary_color }}">
              <td class="hidden-mobile">
                <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin:auto; min-width:600px;" width="600">
                  <tr>
                    <td align="left" style="padding: 9px 0;" valign="top">
                      {% if _vb_token is defined %}
                        <a href="{{ absolute_url('/mail/%s'|format(_vb_token)) }}" style="color: #ffffff; font-family: Arial,'Helvetica Neue', Helvetica, sans-serif; font-size: 12px; text-decoration: underline;" target="_blank">View online version</a>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr bgcolor="{{ primary_color }}">
              <td bgcolor="{{ primary_color }}" class="top-nav">
                <table align="center" bgcolor="{{ primary_color }}" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin:auto;" width="600">
                  <tr>
                    <td align="center" bgcolor="{{ primary_color }}" valign="top">
                      <table bgcolor="{{ primary_color }}" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                          <td align="center" bgcolor="{{ primary_color }}" width="157" height="88" valign="top">
                            <a href="http://www.thrivepartners.co.uk/" target="_blank"><img alt="My Thrive" border="0" src="{{ absolute_url(email_logo) }}" style="display: block; height:88px; background:{{ primary_color }};" width="157" height="88"></a>
                          </td>
                          <td class="hidden-mobile" width="443" height="88">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" width="100%" bgcolor="{{ primary_color }}" valign="top">


                {% if email_header_color is defined %}
                  <table cellpadding="0" cellspacing="0" border="0" width="100%" height="28" style="width:100%;height:28px; background: {{ email_header_color }} repeat-x transparent;" background="{{ email_header_color }}">
                    <tr>
                      <td style="font-size: 16px;line-height: 20px; font-family: Georgia, Arial, sans-serif;">
                        <!--[if gte mso 9]>
                        <v:rect style="mso-width-percent:1000;width:640px;height:28px;" strokecolor="none">
                          <v:fill type="tile" color="{{ primary_color }}"/></v:fill>
                        </v:rect>
                        <![endif]-->
                      </td>
                    </tr>
                  </table>
                {% endif %}

                {% if email_header_image is defined %}
                <table cellpadding="0" cellspacing="0" border="0" width="100%" height="28" style="width:100%;height:28px; background: url({{ absolute_url(email_header_image) }}) repeat-x transparent;" background="{{ absolute_url(email_header_image) }}">
                    <tr>
                      <td style="font-size: 16px;line-height: 20px; font-family: Georgia, Arial, sans-serif;">
                      <!--[if gte mso 9]>
                        <v:rect style="mso-width-percent:1000;width:640px;height:28px;" strokecolor="none">
                            <v:fill type="tile" color="{{ primary_color }}" src="{{ absolute_url(email_header_image) }}" /></v:fill>
                        </v:rect>
                      <![endif]-->
                    </td>
                  </tr>
                </table>
                {% endif %}
              </td>
            </tr>
          </table>
          <!-- Header Panel : END -->
          <!-- Spacer : BEGIN -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
            <tr>
              <td height="10" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
          </table>
          <!-- Spacer : END -->
          <!-- SESSION : BEGIN -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
            <tr>
              <td class="mobile-padding" style="padding:29px 0; text-align:left; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px; line-height:22px; color:#000001;">
                {% block body %}{% endblock %}
              </td>
            </tr>
          </table>
          <!-- Spacer : END -->
          <!-- Italic text : BEGIN -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
            <tr>
              <td class="mobile-padding blueLink" style="padding:0; text-align:left; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:12px; line-height:1.2; color:{{ primary_color }};">
                This email was sent from a notification-only address that can't accept incoming email. Please do not reply to this message.<br/><br/>
                To get in touch with us, open the {{ brand_name }} app or website and go to the "Help" section.<br/><br/>
                Copyright {{ copyright }} <br/><br/>
                Registered office: {{ company_name }}, <span class="blueLink">{{ company_address }}</span><br/><br/>
                Registered office No: {{ company_registered_number }}
              </td>
            </tr>
          </table>
          <!-- Italic text : END -->
          <!-- Spacer : BEGIN -->
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="email-container" role="presentation" style="margin: auto;" width="600">
            <tr>
              <td height="30" style="font-size:1px; line-height:1px;">&nbsp;</td>
            </tr>
          </table>
          <!-- Spacer : END -->
          <!-- Footer : END -->
          <div class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0;">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          </div>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
