{% extends 'mail/base.html.twig' %}

{% block subject %}Getting on board with our network of coaches and mentors{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

You have been invited to create an account for {{ brand_name }}, and join our team of coaching and mentoring professionals.<br/><br/>

We'll need you to give us some details about you, your coaching experience and the areas you are happy to coach on. From there we will process your application and come back to you in a few days.<br/><br/>

Please click on <a href="{{ absolute_url('/register/coach?token=%s'|format(token)) }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">this link</a> to confirm your email address and complete your account information.<br/><br/>

Please note this link will expire in 7 days.<br/><br/>

{{ letter_closing }},<br/>

{{ team_name }}
{% endblock %}
