{% extends 'mail/base.html.twig' %}

{% block subject %}Welcome! Let's get started and create your account{% endblock %}

{% block body %}
Hello {{ first_name }},<br/><br/>

You have been invited to create an account for {{ brand_name }}, which will give you access to online, on-demand coaching and mentoring services.<br/><br/>

Getting started is simple, and takes just a few minutes. Just click on <a href="{{ absolute_url('/register/enterprise?token=%s'|format(token)) }}" style="color: {{ primary_color }}; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: normal;letter-spacing: 0.5px; text-decoration: none;">this link</a> to confirm your email address and complete your account information.<br/><br/>

Once you're up and running, you can browse our coaches, find experts that can be a great thinking partner, and book a session – usually within an hour.<br/><br/>

This link will expire in 7 days – so there really is no time like the present to get ready and set to thrive.<br/><br/>

Please go to your HR or Learning teams with questions in the first instance if you have any questions.<br/><br/>

We can't wait for you to get started,<br/>

{{ team_name }}
{% endblock %}
